body {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-size: 4em;
}
#container {
    width: 500px;
    height: 620px;
    background-color: rgb(43, 41, 41);
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 8px;
}
#display {
    width: 90%;
    height: 100px;
    background-color: rgb(110, 110, 107);
    margin: auto;
    border-radius: 4px;
}
#display p {
    color: white;
    font-size: 4em;
    text-align: right;
    margin: 20px 0 0 0;
    padding: 30px 10px 0 0;
}
#keypad {
    text-align: center;
    width: 90%;
    height: 450px;
    background-color: rgb(110, 110, 107);
    margin: 20px auto 20px;
    border-radius: 4px;
}
.calc-button {
    display:inline-block;
    width: 90px;
    height: 70px;
    margin: 17px 5px 0 5px;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    align-items: center;
    cursor: pointer;
    font-size: 2em;
}
#clear {
    width: 200px;
}
#equals {
    width: 200px;
}